* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    font-family: "Figtree", sans-serif;
    border-radius: 0.75rem;
    border: 2px solid black;
    box-shadow: 10px 10px;
    max-width: 380px;
}

.container img {
    max-width: 350px;
    height: auto;
    align-self: center;
    border-radius: 0.75rem;
    margin-bottom: 15px;
}

.date-wrapper button {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    border: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-align: center;
    font-weight: 800;
    font-size: 15px;
    font-family: "Figtree", sans-serif;
    border-radius: 4px;
}

.date-wrapper p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.title-wrapper h2 {
    font-weight: 800;
    margin-bottom: 15px;
}

.title-wrapper p {
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    margin-bottom: 20px;
}

.avatar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}



.avatar-wrapper h4 {
    font-weight: 800;
}


/* Font weights
600, 800 */